.img_project{
    z-index: 0;
    width: 367px;
    height: 367px;
    margin: 20px auto;   
    border-radius: 30% 70% 70% 30% / 60% 53% 47% 40%;
    animation: project_anime 1s infinite ease-in;
}

#Tela-De-Login{  
    background-image: url("../img/img_project/Tela-De-Login.gif");
    background-repeat: no-repeat;  
}

#Calculadora{
    background-image: url("../img/img_project/Calculadora.jpg");
    background-repeat: no-repeat;  
}

#Cad_Log{
    background-image: url("../img/img_project/design-cad.jpg");
    background-repeat: no-repeat;  
}

#Corrida_de_Cavalos{
    background-image: url("../img/img_project/Corrida_De_Cavalos.jpg");
    background-repeat: no-repeat; 
}

#ValidarCPF{
    height: 140px;
    border-radius: 12px;
    background-image: url(../img/img_project/ValidarCPF.jpg);
    background-repeat: no-repeat;
}

@keyframes project_anime{
    0%{
        border: 5px solid var(--purple_dark);
        box-shadow: 0 0 12px var(--purple_dark); 
    }
    100%{
        border: 5px solid var(--purple);
        box-shadow: 0 0 20px var(--purple); 
    }
}