<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 404</title>
  <link rel="stylesheet" href="/css/404.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/anima.css">
</head>
<body>  
  <section class="section container  back-cont">
    <div class="allDiv">
      <h1 class="title">Oops! acho que você está fora do caminho</h1>
      <h2 class="title">404</h2>
      <a href="/">Voltar</a>
      </div>
  </section>  
</body>
</html>