<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/img_eu.png">
    <link rel="stylesheet" href="/css/Cadastro.css">
    <link rel="stylesheet" href="/css/cad_log.css">   
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    <title>Cadastro | Magic Paintings</title>
</head>
<body>    
    <main id='container'>
        <div class="slide">
            <div class="slides">  
                <a href="#Form-Card" id='btn_linkTop'>Cadastro | Magic Paintings</a> 
                <div id="atual" class="images">
                    <img src="/img/images/01.webp" alt="">
                </div>
                <div class="images">
                    <img src="/img/images/02.jpg"  alt="">
                </div>
                <div class="images">
                    <img src="/img/images/03.jpg" alt="">
                </div>
                <div class="images">
                    <img src="/img/images/04.jpg" alt="">
                </div>
                <div class="images">
                    <img src="/img/images/05.jpg" alt="">
                </div>        
            </div>
            <div class="bolas"></div>  
        </div>
        <form action="/models/cad.js" method="post" id="Form-Card">          
            <div id="card_b">            
                <div class="mg">
                    <i class="fas fa-user-plus Icon"></i> 
                    <div class="menu_cadG">
                        <p>Magic Paintings | Cadastre-se com:</p>
                        <div id="buttonDiv"></div> 
                    </div>
                    <div class="menu_input">
                        <div class="menu_input">
                            <input class="Input" minlength = "3" maxlength = "20" type="text" id="nome" name="nome" placeholder="Nome do usuário" required> 
                        </div>
                        <div class="menu_input">
                            <input class="Input" minlength = "3" maxlength = "220" type="email" id="email" name="email" placeholder="Email" required> 
                        </div>
                        <div class="menu_input">
                            <i class="far fa-eye Isenha"></i> 
                            <input class="Input" minlength = "3" maxlength = "220" type="password" name="senha" id="senha" placeholder="Senha" required>                     
                        </div>  
                        <div id="DIVaceitar">
                            <input type="checkbox" name="aceitar" id="checkbox" required>
                            <p> Aceitar os <a href='./termos'>Termos</a> e as <a href='./termos'>Políticas de Privacidades e Cookies</a> do Magic Paintings.</p>  
                        </div>              
                        <input type="submit" id="botao" name="submit" value="Cadastrar">
                        <br>
                        <br>
                        <p><a class="menu-link" href="./ajuda.html">Ajuda</a> | <a href="/Login">Login</a></p>                  
                    </div>  
                </div>            
            </div>              
        </form>
    </main>
    <script>
        // letras minusculas
        var input_nome = document.getElementById('nome');
        input_nome.addEventListener('keyup', (ev) => {
            const input = ev.target;
            input.value = input.value.toLowerCase();
        });
    </script>
    <script src="/js/GoogleAccount.js"></script>
    <script src="/js/Ver_Senha.js"></script> 
    <script src="/js/slider.js"></script> 
</body>
</html>