<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Inicio.css">
    <link rel="stylesheet" href="/css/img_project.css">
    <link rel="stylesheet" href="/css/pro.css">
    <link rel="shortcut icon" href="/img/img_settings/logo_site.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">  
    <title>João | Projetos</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">João | Portfolio</a>
            <div id="moon"></div>            
        </nav>
    </header>
    <section id="grupoP">
        <h1> Projetos </h1>
        <div class="ContMaster" id="Cadastro_Login" data-anime="bottomX">
            <div id="grupo_a">
                <div id="Cad_Log" class="img_project"></div>               
            </div>
            <div id="grupo_b">
                <div class="DIV_textAlto">                        
                    <h3 class="L_yellow">Cadastro | Login</h3>
                </div>  
                <div class="DIV_textBaixo">
                    <p> Projetinho de telas de login e cadastro para treinar responsividade usando: 
                        <br>
                        <span class="L_orange">html</span>, <span class="L_blue">css</span> e <span class="L_red">js</span>
                        <br>
                        <a href="https://github.com/joaovic2k/design-login-cadastro" class="L_red">Ver repositório</a> ou <a href="/Cadastro" class="L_green"> Ver projeto</a>
                    </p>
                </div>  
            </div>
        </div>              
        <div class="ContMaster" id="CalculadoraDIV" data-anime="bottomX">
            <div id="grupo_a">
                <div id="Calculadora" class="img_project"></div>                 
            </div>
            <div id="grupo_b">
                <div class="DIV_textAlto">                        
                    <h3>Calculadora</h3>
                </div>  
                <div class="DIV_textBaixo">
                    <p> Criei uma calculadora utilizando <span class="L_orange">html</span>, <span class="L_blue">css</span> e <span class="L_red">js</span> para treinar programação e estilização
                        <br>
                        <a href="https://github.com/joaovic2k/Calculadora_Estilizada" class="L_red">Ver repositório</a> ou <a href="/Calculadora" class="L_green"> Ver projeto</a>
                    </p>
                </div>  
            </div>
        </div> 
        <div class="ContMaster" id="Tela-De-LoginDIV" data-anime="bottomX">
            <div id="grupo_a">
                <div id="Tela-De-Login" class="img_project"></div>           
            </div>
            <div id="grupo_b">   
                <div class="DIV_textAlto">                        
                    <h3>Tela de Login</h3>
                </div>  
                <div class="DIV_textBaixo">
                    <p> Essa é minha primeira Tela de Login Simples utilizando <span class="L_orange">HTML</span>, <span class="L_blue">CSS</span> PURO
                        <br>
                        <a href="https://github.com/joaovic2k/Tela-de-Login" class="L_red">Ver repositório</a>
                    </p>
                </div>     
            </div>
        </div> 
        <div class="ContMaster" id="Corrida_de_CavalosDIV" data-anime="bottomX">
            <div id="grupo_a">
                <div id="Corrida_de_Cavalos" class="img_project"></div> 
            </div>
            <div id="grupo_b">
                <div class="DIV_textAlto">                        
                    <h3 class="L_yellow">Corrida de Cavalos</h3>
                </div>  
                <div class="DIV_textBaixo">
                    <p> Mini-Jogo de o que é, o que é? com corrida de cavalos feita com <span class="L_red">JAVA</span>.
                        O jogo é simples, existe 2 jogadores (<span class="L_purple">jogador1</span> contra <span class="L_green">maquina</span>). 
                        OBS: <span class="L_green">maquina</span> é a maquina. Haverá perguntas que o <span class="L_purple">jogador1</span> irar responder 
                        se ele errar o <span class="L_green">maquina</span> passar na frente se não o <span class="L_purple">jogador1</span> passar. Só ganhar o jogador que chegar na linha de chegada. 
                        <br>
                        <a href="https://github.com/joaovic2k/Corrida-de-Cavalos" class="L_red">Ver repositório</a>
                    </p>
                </div>                  
            </div>
        </div> 
        <div class="ContMaster" id="ValidarCPFDIV" data-anime="bottomX">
            <div id="grupo_a">
                <div id="ValidarCPF" class="img_project"></div>             
            </div>
            <div id="grupo_b">   
                <div class="DIV_textAlto">                        
                    <h3 class="L_yellow">Validador de CPF</h3>
                </div>  
                <div class="DIV_textBaixo">
                    <p> Validador de cpf feito com <span class="L_red">JAVA</span>. Basicamente valida utilizando um calculo com os dígitos verificadores.
                        <br>
                        <a href="https://github.com/joaovic2k/Validar_CPF" class="L_red">Ver repositório</a>
                    </p>
                </div>   
            </div>
        </div>                   
    </section>
    <footer id="rodape">
        <div id="iconNome">
            <img src="/img/img_eu.png" class="MyIcon">
            <h1>João Victor</h1>
        </div>
        <p>O brabo tem nome <br>
        Contato:</p>        
        <div id="iconContato" class="rodapeP">
            <a href="https://github.com/joaovic2k"><i class="fab fa-github icon_contato" id="iconG"></i></a>
            <a href="https://www.instagram.com/joaovic2k"><i class="fab fa-instagram icon_contato" id="iconI"></i></a>
            <a href="https://t.me/joaovic2k"><i class="fab fa-telegram icon_contato" id="iconT"></i></a>
            <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-790116213/"><i class="fab fa-linkedin icon_contato" id="iconL"></i></a>
            <a href="https://wa.me/+5548999227431"><i class="fab fa-whatsapp-square icon_contato" id="iconW"></i></a>
        </div>
    </footer>
    <script src="../js/index.js"></script>
</body>
</html>