<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/projetos-light.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/anima.css">
  <title>Projetos | todos os projetos do João</title>
  <link rel="shortcut icon" type="images" href="/img/meu_cartoon.png">
</head>
<body>
    <svg id="svg-topo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#1F2326" fill-opacity="1" d="M0,96L17.1,96C34.3,96,69,96,103,101.3C137.1,107,171,117,206,128C240,139,274,149,309,176C342.9,203,377,245,411,234.7C445.7,224,480,160,514,160C548.6,160,583,224,617,224C651.4,224,686,160,720,160C754.3,160,789,224,823,256C857.1,288,891,288,926,282.7C960,277,994,267,1029,250.7C1062.9,235,1097,213,1131,218.7C1165.7,224,1200,256,1234,240C1268.6,224,1303,160,1337,122.7C1371.4,85,1406,75,1423,69.3L1440,64L1440,0L1422.9,0C1405.7,0,1371,0,1337,0C1302.9,0,1269,0,1234,0C1200,0,1166,0,1131,0C1097.1,0,1063,0,1029,0C994.3,0,960,0,926,0C891.4,0,857,0,823,0C788.6,0,754,0,720,0C685.7,0,651,0,617,0C582.9,0,549,0,514,0C480,0,446,0,411,0C377.1,0,343,0,309,0C274.3,0,240,0,206,0C171.4,0,137,0,103,0C68.6,0,34,0,17,0L0,0Z"></path>
    </svg>
    <header id='header'>
        <nav class="container" id='nav'>
            <div class="menu-main">
                <a class="logo" href="/">Voltar <i class="fa-solid fa-code-branch"></i>
            </div>
            <div id="perfil">
                <div id="contDiv">
                    <a href="/"><img src="/img/logo.png" alt="foto de perfil do joão"></a>
                </div>
                <span>By joaovic2k<i class="fa-solid fa-sort-down"></i>
                    <ul class="menu-hover" id="menu-perfil">
                        <i class="fa-solid fa-caret-up menuIconUp"></i>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="https://www.instagram.com/code_dev2k/" target="_blank">Instagram</a></li>
                        <li><a href="https://github.com/joaovic2k/" target="_blank">Github</a></li>
                        <li><a href="http://www.linkedin.com/in/joaovic2k" target="_blank">Linkedin</a></li>
                      </ul>
                </span>                
            </div>
        </nav>    
    </header>
    <main id="main">
        <h1>Projetos</h1>
        <p>Clique nas imagens para saber mais</p>
        <ol id="list-project">
            <li onclick="MenuModal()">
                <div class="contProject">
                    <img src="/img/img_project/valorant.png" alt="Projeto web Valorant">      
                    <div class="cardDesc">
                        <h3>Valorant</h3>
                        <p>Valorant, esse template se encontra no <a href="https://www.figma.com/community/file/828904636600001452" target="_blank">figma</a> e foi feito com HTML,CSS,JS e NodeJS </p>
                        <div class="linkProject">
                            <a href="https://github.com/joaovic2k/valorant" target="_blank">Ver repositório</a> | <a href="https://valorant-vic2k.vercel.app/" target="_blank">Ver Projeto</a>                        
                        </div>
                    </div>         
                </div>
                <h2 class="titleProject">Valorant</h2>
            </li>
            <li onclick="MenuModal()">
                <div class="contProject">
                    <img src="/img/img_project/design-cad.png" alt="Projeto web Design Cadastro & login">    
                    <div class="cardDesc">
                        <h3>Design Cadastro & Login</h3>
                        <p>Projetinho de telas de login e cadastro para treinar responsividade usando: html, css e js</p>
                        <div class="linkProject">
                            <a href="https://github.com/joaovic2k/design-login-cadastro" target="_blank">Ver repositório</a>
                        </div>
                    </div>      
                </div>
                <h2 class="titleProject">Design Cadastro & Login</h2>
            </li>
            <li onclick="MenuModal()">
                <div class="contProject">
                    <img src="/img/img_project/Calculadora.png" alt="Projeto web Calculadora">     
                    <div class="cardDesc">
                        <h3>Calculadora</h3>
                        <p>Criei uma calculadora utilizando html, css e js para treinar programação e estilização</p>
                        <div class="linkProject">
                            <a href="https://github.com/joaovic2k/Calculadora_Estilizada" target="_blank">Ver repositório</a> 
                        </div>
                    </div>           
                </div>
                <h2 class="titleProject">Calculadora</h2>
            </li>
        </ol>
    </main>
    <div class="divider-footer"></div>
    <!-- ######################### FOOTER ######################### -->     
    <footer id="contact">
        <div class="container">
            <header class="container grid cont header-profile">
                <div class="div-img-profile">
                    <img src="/img/logo.png" alt="Foto do João">
                </div>
                <p>   
                    <span class="name-profile">João victor <i class="fa-solid fa-mug-hot"></i></a></span>
                    &mdash; 
                    <i class="fab fa-html5 color_orange"></i>
                    &mdash; 
                    <i class="fab fa-css3-alt color_blue"></i>
                    &mdash; 
                    <i class="fab fa-js-square color_yellow"></i>
                    &mdash; 
                    <i class="fab fa-node-js color_green"></i>
                    &mdash;  
                </p>
            </header> 
            <div id="cont-footer">
                <h2 class="title">&mdash;Contato&mdash;</h2>
                <p>
                    <a href="https://github.com/joaovic2k" target="_blank" class="icon_contato" id="iconG">GitHub: <i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/joaovic2k" target="_blank" class="icon_contato" id="iconI">Instagram: <i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/joaovic2k" target="_blank" class="icon_contato" id="iconT">Telegram: <i class="fab fa-telegram" id="iconT"></i></a>
                    <a href="http://www.linkedin.com/in/joaovic2k" target="_blank" class="icon_contato" id="iconL">Linkedin: <i class="fab fa-linkedin"></i></a>
                    <a href="https://wa.me/+5548999227431" target="_blank" class="icon_contato" id="iconW">Whatsapp: <i class="fab fa-whatsapp-square"></i></a>
                </p>
            </div>
            <p class="tec_i">Tecnologias usadas para construção do site <br>
                &mdash; 
                <i class="fab fa-html5"></i>
                &mdash; 
                <i class="fab fa-css3-alt"></i>
                &mdash; 
                <i class="fab fa-js-square"></i>
                &mdash; 
                <i class="fab fa-node-js"></i>
                &mdash; 
                <i class="fab fa-github"></i>
                &mdash; 
                <i class="fab fa-git-alt"></i> 
                &mdash; <br>            
            </p>
            <a href="/pdf/CV-Joao-Victor.pdf" target="_blank" class="btn-link">Meu Currículo <i class="fas fa-file-alt"></i></a> 
        </div>
    </footer>  
    <div class="divider-footer"></div>
  <!-- FontWesome -->
  <script src="https://kit.fontawesome.com/673aed7dea.js" crossorigin="anonymous"></script>
  <!-- scrips -->
  <script src="/js/main.js"></script>
</body>
</html>
