*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    height: 100%;
    background-image: url("../img/img_settings/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input::placeholder {
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

#Form-Card{
    display: flex;
}

.mg{
    margin: 20px;
}

/* Slider img */
.slide{
    width: 550px;
    height: 600px;
    overflow: hidden;
    border-radius: 12px;
    border: 3px solid var(--primary);
    box-shadow: 0 0 12px var(--primary);
    transition: all 1s;
}

.slides{
    width: 5120px;
    display: flex;    
}

.images img{
    width: 550px; 
    height: 600px;

}

#atual{
    transition: all 1s;
}

.bolas{
    position: absolute;
    width: 550px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.bolas div{
    transition: all 0.5s;
    border: 3px solid var(--light);
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.bolas div:hover{
    background: var(--light2);
}

.img_atual{
    transition: 0.5s;
    background: var(--light);
}

#card_b{
    width: 550px;
    height: 600px;
    text-align: center;
    background: var(--tranp);
    border-radius: 12px;
    border: 3px solid var(--dark);
    box-shadow: 0 0 15px var(--dark);
}

#card_b h2{
    font-size: 60px;
    font-family: 'Calibri', sans-serif;
    color: var(--light);
}

#card_b p{
    font-size: 20px;
    color: var(--light);
    font-family: 'Josefin Sans', sans-serif;
}

.Icon{
    margin: 20px;
    font-size: 80px;
    color: var(--light);
}

#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.Input{
    padding: 0 10px 0 29px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    height: 38px;
    width: 320px;
    outline: none;
    background: none;
    border: none;
    border-radius: 8px;
    color: var(--light);
    background: transparent;
    border-bottom: 3px solid var(--light);
    transition: .3s;
}
.Input:focus{
    background: var(--tranp);
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

#DIVaceitar{
    display: flex;
}

#DIVaceitar p{
    font-size: 12px;
}


#checkbox{
    cursor: pointer;
}

#botao{
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;          
    border: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    background: transparent;
    color: var(--light);
    border: 3px solid var(--light);         
    border-radius: 8px;
    box-shadow: 0px 0px 10px var(--light); 
}

#botao:hover{
    background: var(--light);
    color: var(--dark);
    box-shadow: 0px 0px 20px var(--light);
}

.menu_input{
    margin: 20px;
}

.menu_input p{
    font-family: 'Josefin Sans', sans-serif; 
    margin-bottom: 20px;
    font-size: 27px;
    color: var(--light);
}

.menu_input a{
    color: var(--light);
}
.menu_input a:hover{
    color: var(--primary);
}

.Isenha{
    color: var(--light);
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 310px;
    transition: .3s;
}

.Isenha:hover{
    color: var(--primary);
}

.Isenha2{
    color: var(--light);
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 310px;
    transition: .3s;
}


.Isenha2:hover{
    color: var(--primary);
}

.menu-link{
    font-size: 20px;
    color: var(--light);               
}

.menu-link:hover{
    color: var(--primary);
}

#btn_linkTop{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background: var(--light);
    color: var(--tertiary);
    border: 3px solid var(--light);
    border-radius: 10px;
    box-shadow: 0px 0px 12px var(--light);
}

#btn_linkTop:focus,
#btn_linkTop:hover{
    background: var(--light2);
    color: var(--dark);
    box-shadow: 0px 0px 20px var(--light);
}

@media (max-width: 1110px){
    #container{
        display: block;
        height: 100%;     
    }
    
    body{
        overflow-y: visible;
    }
    #btn_linkTop{
        display: block;
    }
}

@media (max-width: 800px){  
    .slide{
        z-index: 1;
        position: absolute;
    }
    #card_b{
        z-index: 2;
        border: 3px solid var(--light);
        box-shadow: 0 0 12px var(--light);
    }
    #btn_linkTop{
        display: none;
    }
    .bolas{
        display: none;
    }
}

@media (max-width: 370px){
    
    #DIVaceitar{
        display: grid;
        font-size: 15px;
    }
    .Input{        
        width: 220px;
    }
    #card_b h2{
        font-size: 40px;
    }
    #card_b p{
        font-size: 18px;
        margin-top: 10px;
    }
}