*{
  padding: 0;
  margin: 0;
}

#bg{
  overflow-y: hidden;
  height: 100vh;
  background-image: url("../img/img_settings/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* headers */
#nav_top{
  z-index: 1;
  position: absolute;
  top: 0;
  width: 90%;
  height: 12vh;
  text-align: center;
  font-family: 'Calibri', sans-serif;
  background: none;
  border-radius: 12px;
}

/* Texto Login Admin */
.login{
  font-size: 30px;
  font-family: 'Calibri', sans-serif;
  color: var(--light);
}

#nav_bottom{
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Calibri', sans-serif;
  border-radius: 12px;
}

#nav_bottom p{
  font-size: 23px;
  margin: 20px auto;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--light);
}

#nav_bottom a{
  font-family: 'Josefin Sans', sans-serif;
	color: var(--light);
  transition: .3s;
}
#nav_bottom a:hover{
	color: var(--primary);
}

/* formulário */

.card{
  z-index: 0;
  width: 410px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, var(--tranp)0%, var(--dark)100%);
  box-shadow: 0 0 12px var(--dark);
  border-radius: 12px;
}

/* Para centralizar */
.card-group{
  text-align: center;
}

.card-group p{
  font-size: 15px;
  margin-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--light);
}

.card-group a{
  font-family: 'Josefin Sans', sans-serif;
	color: var(--light);
  transition: .3s;
}
.card-group a:hover{
	color: var(--primary);
}

/* mudar a cor dos inputs */
input::placeholder {
  color: var(--light);
  font-family: 'Josefin Sans', sans-serif;
}

/* Campo de texto Email e Senha*/
.Inputs{
  padding: 0 10px 0 29px;
  height: 38px;
  width: 250px;
  margin: 20px auto;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  outline: none;
  background: none;
  border: none;
  border-radius: 8px;
  color: var(--light);
  background: transparent;
  border-bottom: 3px solid var(--light);
  transition: .3s;
}

.Inputs:focus{
  background: var(--tranp);
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

/* Modificação do botão enviar*/
#entrar{
  height: 43px;
  width: 120px;
  margin-top: 20px;
  font-size: 25px;
  font-family: 'Calibri', sans-serif;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  background: transparent;
  border: 3px solid var(--light);
  box-shadow: 0px 0px 15px var(--light);
  border-radius: 8px;
  color: var(--light);
}

/* Animação do botão quando passar o mause*/
#entrar:hover{
  background: var(--light);
  color: var(--dark);
  box-shadow: 0px 0px 15px var(--light);
}

.Isenha{
  color: var(--light);
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  margin-top: 28px;
  margin-left: 250px;
  transition: .3s;
}

.Isenha:hover{
  color: var(--primary);
}

.Isenha2{
  color: var(--light);
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  margin-top: 28px;
  margin-left: 250px;
  transition: .3s;
}


.Isenha2:hover{
  color: var(--primary);
}

/* msg de erro */

#msg_true{
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 700px;
}

#msg_true h1{  
  color: var(--light);
  font-size: 30px;
  font-family: 'Calibri', sans-serif; 
  text-transform: uppercase;
  margin: 20px;
}

#msg_true .icon{
  font-size: 40px;
  color: var(--light);
}

#msg_false{
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 700px;
}

#msg_false h1{  
  color: red;
  font-size: 30px;
  font-family: 'Calibri', sans-serif; 
  text-transform: uppercase;
  margin: 20px;
}

#msg_false .icon{
  font-size: 40px;
  color: red;
}