/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--color-primary);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--color-primary);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--light);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--color-dark);
  font-size: 1.5rem;
  cursor: pointer;
}

.toggle:hover,
.toggle:focus{
  color: var(--color-primary);
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* Home */

/* text/home */
.cont-a,
.cont-b{
  width: 30rem;  
  height: 150px;
  font-size: 1.5rem;
  font-family: var(--font-family-sub);
  margin: 20px auto;
  padding: 2rem;
  border-radius: 12px;
  background: var(--light);
  box-shadow: 0 0 12px var(--color-shadow);
  animation: bounceInUp 4s;
}

.cont-b a:hover,
.cont-b a:focus{
  color: var(--color-dark);
}

/* about */
#about{
  background: var(--color-dark);
  box-shadow: 0 0 12px var(--color-shadow);
  }

.sub{
  margin: 10px;
  padding: 2rem;
  border-radius: 12px;
}

.grupo_a{
  text-align: center;
}

.grupo_a h2{
  position: relative;
  margin: 10px auto;
  font: 400 2.5rem var(--font-family-title);
  color: var(--color-primary);
  text-shadow: 0 0 30px var(--color-primary);
}

  
.grupo_a h2::after{
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, var(--color-primary)50%, var(--color-dark)100%);
  position: absolute;
  left: 0;
  bottom: -1rem;
  transition: width 0.2s;
}

.grupo_a span.sub-title{
  position: relative;
  color: var(--light);
  text-shadow: 0 0 30px var(--red);
}

.grupo_a i{
  margin: 20px auto;
}

.grupo_a .fa-react{
  text-shadow: 0 0 30px var(--blue);
}

.grupo_a .fa-js-square{
  text-shadow: 0 0 30px var(--yellow);
}

.grupo_a .fa-node-js{
  text-shadow: 0 0 30px var(--green);
}

.grupo_a span.sub-title::after{
  content: '';
  width: 100%;
  margin: auto;
  height: 2px;
  background: linear-gradient(270deg, var(--red)50%, var(--color-dark)100%);
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  animation: line_efect 1s infinite;
}
.grupo_a p{
  margin: 20px;
  font: 400 1.5rem var(--font-family-title);
  color: var(--color-light);
}

.grupo_b{
  margin: 20px auto;
}

#Saly-13{
  width: 400px;
  height: 400px;
  margin: 20px auto;
  background: var(--color-light);
  border: 2px solid var(--color-light);
  box-shadow: 0 0 20px var(--color-shadow);
  border-radius: 30% 70% 70% 30% / 60% 53% 47% 40%;
  background-image: url("../img/icon/Saly-13.png");
  background-repeat: no-repeat;
}

/* skills */
#skills{
  text-align: center;
}

#skills h2{
  position: relative;
  font: 400 2.5rem var(--font-family-title);
  margin-bottom: 50px;
}

#skills a{
  transition: .3s;
}
#skills a:hover{
  color: var(--color-primary);
}
  
#skills h2::after{
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, var(--color-primary)50%, var(--color-light)100%);
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  transition: width 0.2s;
}

#linguages{
  border-radius: 12px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: 2vh;
}

.ling{
  display: flex;
  margin: auto;
}

.ling a i,
.label_icon{
  color: var(--color-dark);
}

.label_icon{
    font-size: 20px;
}

.icon_link{
    font-size: 50px;
}


.DivLink{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: none;
  margin: 10px;
  width: 150px;
  height: 150px;  
  font-family: var(--font-family-sub);
  background: var(--light);
  color: var(--color-dark);
  border: 5px solid transparent;
  box-shadow: 0px 0px 20px var(--color-shadow);
  border-radius: 12px;
  transition: .2s;
}

.DivLink:hover{    
  transform: translateY(-1.5rem);
}

.card-html:hover,
.card-html:focus{
  background: var(--color-dark);
  border: .3rem solid var(--orange);
  box-shadow: 0px 0px 20px var(--orange);
  text-shadow: 0 0 100px var(--light);
}
.card-html:hover i,
.card-html:focus i,
.card-html:hover span,
.card-html:focus span{
  color: var(--orange);
}

.card-css:hover,
.card-css:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--blue);
  box-shadow: 0px 0px 20px var(--blue);
  text-shadow: 0 0 100px var(--light);
}
.card-css:hover i,
.card-css:focus i,
.card-css:hover span,
.card-css:focus span{
  color: var(--blue);
}

.card-js:hover,
.card-js:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--yellow);
  box-shadow: 0px 0px 20px var(--yellow);
  text-shadow: 0 0 100px var(--light);
}
.card-js:hover i,
.card-js:focus i,
.card-js:hover span,
.card-js:focus span{
  color: var(--yellow);
}

.card-git:hover,
.card-git:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--red);
  box-shadow: 0px 0px 20px var(--red);
  text-shadow: 0 0 100px var(--light);
}
.card-git:hover i,
.card-git:focus i,
.card-git:hover span,
.card-git:focus span{
  color: var(--red);
}

.card-github:hover,
.card-github:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--light);
  box-shadow: 0px 0px 20px var(--color-shadow);
  text-shadow: 0 0 100px var(--light);
}
.card-github:hover i,
.card-github:focus i,
.card-github:hover span,
.card-github:focus span{
  color: var(--light);
}

.card-py:hover,
.card-py:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--yellow);
  box-shadow: 0px 0px 20px var(--blue);
  text-shadow: 0 0 100px var(--light);
}
.card-py:hover i,
.card-py:focus i,
.card-py:focus span,
.card-py:hover span{
  background-image: linear-gradient(190deg, var(--blue), var(--yellow));
  -webkit-background-clip: text;
  color: transparent;
}

.card-node:hover,
.card-node:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--green);
  box-shadow: 0px 0px 20px var(--green);
  text-shadow: 0 0 100px var(--light);
}
.card-node:hover i,
.card-node:focus i,
.card-node:focus span,
.card-node:hover span{
  color: var(--green);
}

.card-php:hover,
.card-php:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--blue);
  box-shadow: 0px 0px 20px var(--blue);
  text-shadow: 0 0 100px var(--light);
}
.card-php:hover i,
.card-php:focus i,
.card-php:focus span,
.card-php:hover span{
  color: var(--blue);
}

.card-mysql:hover,
.card-mysql:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--blue);
  box-shadow: 0px 0px 20px var(--orange);
  text-shadow: 0 0 100px var(--light);
}
.card-mysql:hover i,
.card-mysql:focus i,
.card-mysql:focus span,
.card-mysql:hover span{
  background-image: linear-gradient(190deg, var(--blue), var(--orange));
  -webkit-background-clip: text;
  color: transparent;
}

.card-java:hover,
.card-java:focus{
  opacity: 1;
  background: var(--color-dark);
  border: .3rem solid var(--blue);
  box-shadow: 0px 0px 20px var(--red);
  text-shadow: 0 0 100px var(--light);
}
.card-java:hover i,
.card-java:focus i,
.card-java:focus span,
.card-java:hover span{
  background-image: linear-gradient(190deg, var(--blue), var(--red));
  -webkit-background-clip: text;
  color: transparent;
}


/* parte do github */
.card_es{
  width: 100%;
  height: 200px;
}

@media(max-width: 1100px){
  /* reusable classes */  
  nav{
    justify-content: space-around;
  }

  .header-profile{
    display: grid;
    align-items: center;
    justify-content: center;
  }

  #home .cont,
  #about .cont,
  #skills .cont{
    display: block;
  }

  #skills{    
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  } 

  #linguages{        
      display: flex;
  }
  .ling{
      display: block;
  }

  .cont-a,
  .cont-b{
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: .5rem auto;
  }

  #Saly-13{      
    width: 300px;
    height: 300px;
  }
  
  #cont-footer p, #cont-footer a {
    display: block;
  }

}

@media(max-width: 380px){
  .name-profile{
    font: 500 2rem var(--font-family-title);
  }
}