.img_project{
    z-index: 0;
    width: 500px;
    height: 300px;
    margin: 50px auto;  
    border-radius: 33% 67% 25% 75% / 68% 30% 70% 32% ;
    border: 5px solid var(--blue);
    box-shadow: 0 0 20px var(--blue); 
}

#Tela-De-Login{  
    background-image: url("../img/img_project/Tela-De-Login.gif");
    background-repeat: no-repeat;  
}

#Calculadora{
    background-image: url("../img/img_project/Calculadora.jpg");
    background-repeat: no-repeat;  
}

#Cad_Log{
    background-image: url("../img/img_project/design-cad.jpg");
    background-repeat: no-repeat;  
}

#Corrida_de_Cavalos{
    background-image: url("../img/img_project/Corrida_De_Cavalos.jpg");
    background-repeat: no-repeat; 
}

#ValidarCPF{
    height: 140px;
    border-radius: 12px;
    background-image: url(../img/img_project/ValidarCPF.jpg);
    background-repeat: no-repeat;
}