#grupoP {
    width: 100%;
    max-width: 900px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grupoP h1,h3{
    font-family: 'Space Mono', monospace;
    position: relative;
    font-style: normal;
    font-weight: bold;
    line-height: 54px;
}
#grupoP h1{
    border-right: 2px solid var(--yellow);
    font-size: 50px;
    color: var(--yellow);
    white-space: nowrap;
    overflow: hidden;
    animation: cursor .5s infinite normal, digita 4s 1s infinite normal;
}

#grupoP h3{
    font-size: 20px;
    color: var(--blue);
}

#grupoP h3:after{
    content: "";
    position: absolute;
    background-color: var(--blue);
    box-shadow: 0 5px 20px var(--blue);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: .2s;
}

@media(max-width: 320px){
    #grupoP h1{
        font-size: 20px;
    }
    #grupoP h3{
        font-size: 15px;
    }
}

.ContMaster{
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 50px;
    border-radius: 12px;
    background: var(--tranp);
}

/* #####        Projetos         ##### */
@media(max-width: 700px){

    .ContMaster{   
        margin: 100px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}